source /boot/grub/config.cfg

menuentry 'Try GlassXFCE Live' --hotkey=l {
    linux @KERNEL_LIVE@ @APPEND_LIVE@
    initrd @INITRD_LIVE@
}

menuentry 'Try GlassXFCE Live (safe graphics)' {
    linux @KERNEL_LIVE@ @LB_BOOTAPPEND_LIVE_FAILSAFE@
    initrd @INITRD_LIVE@
}

if @ENABLE_INSTALL_MENU@; then
    menuentry 'Install GlassXFCE' --hotkey=i {
        linux @KERNEL_GI@ @APPEND_GI@
        initrd @INITRD_GI@
    }

    submenu 'Advanced install options ...' --hotkey=a {
        source /boot/grub/theme.cfg
        source /boot/grub/install.cfg
    }
fi

submenu 'Utilities ...' --hotkey=u {
    source /boot/grub/theme.cfg

    if @ENABLE_MEMTEST@; then
        source /boot/grub/memtest.cfg
    fi

    if [ "${grub_platform}" = "efi" ]; then
        menuentry 'UEFI Firmware Settings' --hotkey=f {
            fwsetup
        }
    fi
}
