[Desktop Entry]
Type=Application
Name=Terminal
Comment=Open a terminal
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
Terminal=false
StartupNotify=true
