favorites=glassxfce-search.desktop,glassxfce-welcome.desktop,firefox-esr.desktop,org.xfce.Thunar.desktop,xfce4-terminal.desktop,xfce4-settings-manager.desktop,glassxfce-installer.desktop
recent=
button-title=GlassXFCE
button-icon=glassxfce-menu
button-single-row=true
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
load-hierarchy=true
view-as-icons=false
recent-items-max=10
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=true
stay-on-focus-out=false
confirm-session-command=true
menu-width=470
menu-height=560
menu-opacity=96
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-logout=xfce4-session-logout
show-command-logout=true
