[Desktop Entry]
Type=Application
Name=Install GlassXFCE
Comment=Install GlassXFCE to this computer
Exec=glassxfce-installer
Icon=install-debian
Terminal=false
StartupNotify=true
Categories=System;
