[Desktop Entry]
Type=Application
Name=GlassXFCE Dock
Comment=Start the GlassXFCE floating dock
Exec=plank
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
NoDisplay=true
