[Desktop Entry]
Type=Application
Name=Settings
Comment=Open system settings
Exec=xfce4-settings-manager
Icon=preferences-system
Terminal=false
StartupNotify=true
